<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie8"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html lang="en" class="not-ie"><!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>{{ PROJECT_NAME }}</title>
        <!-- Styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />
        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico" />
    </head>
    <body>
        <h1>{{ PROJECT_NAME }}</h1>
        {% block content %}{% endblock %}
    </body>
</html>
