GitPython==0.3.2.RC1
Jinja2==2.6
Pygments==1.5
async==0.6.1
clint2==0.3.2
coverage==3.5.2
figleaf==0.6.1
flake8==1.4
gitdb==0.5.4
ipdb==0.7
ipython==0.13
mock==1.0.1
nose==1.1.2
nose-cover3==0.1.0
pinocchio==0.3
py==1.4.9
pycolors2==0.0.2
smmap==0.8.2
specloud==0.4.5
tox==1.4.2
virtualenv==1.7.2
